
#tablewrap {
    background: rgba(61, 61, 61, 0.4);
    width: 530px;
    height: 309px;
    float: right;
}

#locationAsk {
    background: rgba(165, 165, 165, 0.4);
    float: left;
    width: 662px;
    height: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    
}
#locator {
    margin-top: 38px;
}

input {
    width: 400px;
    padding: 12px 20px;
    margin: 8px 20px;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}
input:focus {
    background-color: lightblue;
}

#tripGuide {
    margin-top: 38px;
}
#tripGuideAsk {
    background: rgba(100, 100, 100, 0.4);
    float: left;
    width: 662px;
    height: 280px;
    text-align: center;
    margin-left: 25px;
}

#nickname {
    height: auto;
    background: rgba(165, 165, 165, 0.4);
}

#clarify {
    float: right;
    background: rgba(61, 61, 61, 0.4);
    width: 530px;
}

h1 {
    font-size: 40px;
    font-family: cursive;
}
h2 {
    font-size: 30px;
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 15px;
    width: 100px;
    margin-bottom: 25px;
  }
button {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
button:hover {
    background-color: #4CAF50;
    color: white;
  }
b {
    color: black;
}

#flex-container {
    display: flex;
    flex-direction: column;
}
