input {
    width: 400px;
    padding: 12px 20px;
    margin: 8px 20px;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}
input:focus {
    background-color: lightblue;
}

#nickname {
    width: auto;
    height: auto;
    background: rgba(165, 165, 165, 0.4);
    border-radius: 8%;
}


h1 {
    font-size: 20px;
    font-family: cursive;
    margin: 20px;
}
h2 {
    font-size: 30px;
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 15px;
    width: 100px;
    margin-bottom: 25px;
  }
button {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
button:hover {
    background-color: #4CAF50;
    color: white;
  }
b {
    color: black;
}

#chose {
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    width: auto;
    height: auto;
=======
    width: 420px;
    height: 430px;
>>>>>>> 56e10c732e4645beb5e0d4943b6e4dfca613e7b7
    background-color: rgba(165, 165, 165, 0.4);
    padding-top: 30px;
    float: left;
    border-radius: 8%;
}

#display {
    margin-left: 10px;
    width: 420px;
    height: 430px;
    background-color: rgba(165, 165, 165, 0.4);
    float: left;
}
#flex {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
}
#mess {
    color: black;
<<<<<<< HEAD
    font-size: 30px;
=======
    font-size: 20px;
>>>>>>> 56e10c732e4645beb5e0d4943b6e4dfca613e7b7
}

#loc {
    color: white;
}
#home {
    float: right;
    width: 100px;
<<<<<<< HEAD
}
h3 {
    color: red;
}
#sign {
    float: right;
}
=======
}
>>>>>>> 56e10c732e4645beb5e0d4943b6e4dfca613e7b7
